@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&family=Rubik:wght@300&display=swap");

body {
  background-color: white;
  font-family: "Lato", sans-serif;
}

ul {
    list-style: none;
}

.logo {
    width: auto;
    max-width: 300px;
}

h1 {
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 20px;
    color: #799464
}

/* Hero image landing page*/

.heroimage {
  background-size: contain;
  background: url(../images/hero.png) no-repeat center center;
  background-size: 80%;
  text-align: center;
  padding-top: 42%;
}

.heroimagecontact {
  background-size: contain;
  background: url(../images/heroimage2.webp) no-repeat center center;
  background-size: 80%;
  text-align: center;
  padding-top: 42%;
}

.heroaccom {
    background-size: contain;
    background: url(../images/accomodation.webp) no-repeat center center;
    background-size: 80%;
    text-align: center;
    padding-top: 42%;
  }

/*.paddedheader {
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 20px;
}*/

.navbar {
    padding: 0;
  }

.headshot {
  padding-top: 10px;
  padding-right: 10px;
  float: left;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.box {
  margin: 10px;
  overflow: none;
}

/* For accomodation images*/

// BASIC

.accomgall {
    display: flex;
    flex-direction: row;
}

ul:not(.navbar-nav) {
  display: flex;
  flex-wrap: wrap;
}

li:not(.nav-item) {
  height: 40vh;
  flex-grow: 1;
}

li:last-child {
  // There's no science in using "10" here. In all my testing, this delivered the best results.
  flex-grow: 10;
}

.gallimg {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

// ADVANCED

// Portrait

@media (max-aspect-ratio: 1/1) {
  li {
    height: 30vh;
  }
}

// Short screens

@media (max-height: 480px) {
  li {
    height: 80vh;
  }
}

// Smaller screens in portrait

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  ul {
    flex-direction: row;
  }

  li {
    height: auto;
    width: 100%;
  }
  .gallimg {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  


/* Padding for when needed in bootstrap rows */

.padding {
  padding-left: 10%;
  padding-right: 10%;
  align-content: center;
}

.paddingbott {
    padding-bottom: 20px;
  }


/* Styling for social media icons in footer */

.social {
  padding-top: 20px;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Makes youtube video responsive*/
.youtube-video {
  aspect-ratio: 16 / 9;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  border: 0px;
}

/* For googlemap on contact page */

.googlemap {
  width: 100%;
}

/* Form styling*/

input[type="text"],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical;
  /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Styling for submit button on contact page */

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 11px 22px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #307934;
}

#threepictures {
    border-top: 20px;
    padding-top: 20;
}

/* Popup modal code for contact form */

body {
    background-size: cover;
    height: 100vh;
  }
  
  
  /*
  .box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  } */
  
  .button {
    font-size: 1em;
    padding: 10px;
    color: black;
    border: 2px solid #307934;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: #307934;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }

/* Media query for any screen under 1000px */

@media screen and (max-width: 1000px) {
  .break1000 {
    display: flexbox;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: left;
  }


  .padding {
    padding: 0;
    align-content: center;
  }

  .heroimage {
    background-size: contain;
    background: url(../images/hero.png) no-repeat center center;
    background-size: 100%;
    text-align: center;
    padding-top: 42%;
  }
  
  .heroimagecontact {
    background-size: contain;
    background: url(../images/heroimage2.webp) no-repeat center center;
    background-size: 100%;
    text-align: center;
    padding-top: 42%;
  }
  
  .heroaccom {
      background-size: contain;
      background: url(../images/accomodation.webp) no-repeat center center;
      background-size: 100%;
      text-align: center;
      padding-top: 42%;
    }

    .centerbox {
        width: 100%;
      }

    .escapesection {
 
        display: flex;
        flex-direction:column-reverse;
        flex-wrap: wrap;
        }

    h1 {
        padding-top:20px;
        padding-bottom: 20px;
        padding-left: 20px;
        color: #799464
    }
      
}

