/*google font import*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&family=Rubik:wght@300&display=swap");

body {
  background-color: white;
  font-family: "Lato", sans-serif;
}

ul {
    list-style: none;
}

.sorroundheading {
    padding-top: 10px;
}

.hrstyle {
    align-self: center;
    border-top: 20px;
    border-color: transparent;
    height:4px;
    width:70%;
    border-width:0;
    color:#799464;
    background-color:gray;
}

.logo {
    width: auto;
    max-width: 300px;
}

h1 {
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 20px;
    color: #799464;
}

h2 {
    padding-top:20px;
    padding-bottom: 20px;
    color:#799464;
  }

/* Hero images for each page*/

.heroimage {
  background-size: contain;
  background: url(../images/hero.webp) no-repeat center center;
  background-size: 80%;
  text-align: center;
  padding-top: 42%;
}

.heroimagecontact {
  background-size: contain;
  background: url(../images/heroimage2.webp) no-repeat center center;
  background-size: 80%;
  text-align: center;
  padding-top: 42%;
}

.heroaccom {
    background-size: contain;
    background: url(../images/accomodation.webp) no-repeat center center;
    background-size: 80%;
    text-align: center;
    padding-top: 42%;
  }

.navbar {
    padding: 0;
  }

.headshot {
  padding: 10px 10px 10px 10px;
  float: left;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.box {
  margin: 10px;
  overflow: hidden;
}

/* For accomodation image gallery*/

// BASIC

.accomgall {
    display: flex;
    flex-direction: row;
}

ul:not(.navbar-nav) {
  display: flex;
  flex-wrap: wrap;
}

li:not(.nav-item) {
  height: 40vh;
  flex-grow: 1;
}

li:last-child {
  // There's no science in using "10" here. In all my testing, this delivered the best results.
  flex-grow: 10;
}

.gallimg {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

// ADVANCED

// Portrait

@media (max-aspect-ratio: 1/1) {
  li {
    height: 30vh;
  }
}

// Short screens

@media (max-height: 480px) {
  li {
    height: 80vh;
  }
}

// Smaller screens in portrait

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  ul {
    flex-direction: row;
  }

  li {
    height: auto;
    width: 100%;
  }
  .gallimg {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  

/* Padding for when needed in bootstrap rows */

.padding {
  padding-left: 10%;
  padding-right: 10%;
  align-content: center;
}

.paddingbott {
    padding-bottom: 20px;
  }


/* Styling for social media icons in footer */

.social {
  padding-top: 20px;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.socialitem {
    color: #C65D47;
  }

.socialitem:hover {
    color: #799464;
    transition: 0.4s;
  }

/* Makes youtube video responsive*/
.youtube-video {
  aspect-ratio: 16 / 9;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  border: 0px;
}

/* For googlemap on contact page */

.googlemap {
  width: 100%;
}

/* Form styling*/

input[type="text"],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical;
  /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Styling for submit button on contact page */

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 11px 22px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #307934;
}

.threepictures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 0;
}

  .button {
    font-size: 1em;
    padding: 10px;
    color: black;
    border: 2px solid #307934;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: #307934;
  }

/* Media query for any screen under 1000px */

@media screen and (max-width: 1000px) {
    .break1000 {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
    }
  
    h1 {
      font-size: medium;
      color:#04aa6d;
    }
  
    h2 {
      font-size: x-large;
      color:#04aa6d;
    }
  
  
    .padding {
      padding: 0;
      align-content: center;
    }
  
    .heroimage {
      background-size: contain;
      background: url(../images/hero.webp) no-repeat center center;
      background-size: 100%;
      text-align: center;
      padding-top: 42%;
    }
    
    .heroimagecontact {
      background-size: contain;
      background: url(../images/heroimage2.webp) no-repeat center center;
      background-size: 100%;
      text-align: center;
      padding-top: 42%;
    }
    
    .heroaccom {
        background-size: contain;
        background: url(../images/accomodation.webp) no-repeat center center;
        background-size: 100%;
        text-align: center;
        padding-top: 42%;
      }
  
      .centerbox {
          width: 100%;
        }
  
      .escapesection {
   
          display: flex;
          flex-direction:column-reverse;
          flex-wrap: wrap;
          }
  
      h1 {
          padding-top:20px;
          padding-bottom: 20px;
          padding-left: 20px;
          color: #799464
      }
      
  
       h2 {
          padding-top:20px;
          padding-bottom: 20px;
          padding-left: 20px;
          color: #799464
      }
  
        
  }
  
 